@charset "utf-8";
/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth !important;
  transition: 1.45s;
}

:root {
  --preto: #000000;
  --vermelho-escuro: #DB0008;
  --vermelho: #FF0000;
  --vermelho-claro: #FF4D4D;
  --cinza-escuro: #2F2F2F;
  --cinza-medio: #555555;
  --cinza-claro: #A9A9A9;
  --branco: #faeaea;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: white;
}

.aa {
  color: var(--preto);
  text-decoration: none;
  font-family: sans-serif;
}

.aa:hover {
  color: var(--branco);
  transition: 0.5s;
}

#logo {
  color: var(--branco);
  font-size: 2rem;
  font-family: "Playwrite HR Lijeva", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#header {
  font-family: "Playwrite HR Lijeva", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-between;
  background: var(--vermelho-escuro);
  position: sticky;
  z-index: 10;
  top: 0;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  font-size: large;
  color: var(--branco);
}

#btn-mob {
  display: none;
}

#back { 
  width: 100%;
  background-color: white;
  background-attachment: fixed;
  background-position: right center;
  background-size: cover;     
}    

.clear {
  clear: both;
}

img {
  max-width: 100%;
  border: 0px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

a:hover {
  color: var(--vermelho);
}

h2 {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
  color: var(--branco);
}

h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
  color: var(--preto);
}

button {
  outline: none !important;
}

.title {
  margin-bottom: 2rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.game-section {
  padding: 60px 50px;
  overflow-x: scroll;
  background-color: white; 
}

::-webkit-scrollbar {
  width: 0px;
}

.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}

.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: var(--cinza-escuro) no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.game-section .item-desc {
  padding: 0 24px 12px;
  color: var(--branco);
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.game-section .item.active .item-desc {
  width: 100%;
  background-color: var(--vermelho-escuro);
  transform: none;
  -webkit-transform: none;
}

.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

.owl-nav {
  display: none;
}

#contact {
  padding: 0 10rem;
}

#contact > h3 {
  text-align: center;
  color: var(--branco);
  font-size: 3rem;
  margin-top: 3rem;
}

.containercont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

form {
  background-color: var(--cinza-escuro);
  padding: 2rem;
  width: 50rem;
  height: auto;
}

form > h3 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

#contact .containercont .map {
  width: 100%;
  flex: 1.45;
  object-fit: cover;
}

.inputform {
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
  margin-top: 1rem;
  background-color: var(--preto);
}

.inputform > span {
  font-size: 1.5rem;
  color: var(--branco);
}

.inputform > input {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--preto);
  border: none; /* Adicionei esta linha para remover a borda padrão */
  color: var(--branco); /* Adicionei esta linha para a cor do texto */
}

.inputform button {
  margin-top: 2rem;
  background-color: var(--vermelho);
  font-size: 1.2rem;
  padding: 1rem 1.5rem; /* Corrigido para tamanhos apropriados */
  cursor: pointer;
  text-align: center;
  color: var(--branco);
  
}

.inputform button:hover {
  letter-spacing: 2px;
  transition: 0.3s all;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.socialcont > a {
  padding: 0 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: var(--cinza-escuro);
  color: var(--branco);
  font-size: 12px;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (max-width: 650px) {
 
  #logo {
    font-size: 25px;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--vermelho-escuro);
    height: 0px;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid var(--branco);
  }

  #btn-mob {
    display: flex;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: var(--branco);
  }

  #hamburguer {
    border-top: 2px solid var(--branco);
    width: 20px;
  }

  #hamburguer::after, #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: var(--branco);
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }

  #contact {
  padding: 0 2rem;   
  }

}
