/* Apply smooth scrolling to all elements */
* {
    margin: 0;
    scroll-behavior: smooth !important;
}

/* Styles for the body */
body {
    font-family: Arial, sans-serif;
}

/* Styles for the header */
header {
    position: fixed;
    width: 70%;
    z-index: 10;
    background-color: rgba(247, 247, 247, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the navigation bar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Styles for the unordered list in the navigation */
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

/* Styles for list items in the navigation */
.navli {
    list-style: none;
}

/* Styles for links in the navigation */
.navli > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Styles for the home section */
#home {
    width: 100vw;
    height: 450px;
    background-image: url(frenteloja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    position: relative;
}

/* Example styles for other sections */

#about {
    width: 80%;
    height: 70px;
    background-color: rgb(255, 207, 207);
    border-radius: 1px solid black;
    border: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.next-arrow {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    margin-top: 10px;
    transition: transform 0.2s ease;
}

.next-arrow:hover {
    transform: translateX(5px);
}
